:root {
  --color-red: #ea5353;
  --color-cyan: #45d3d3;
  --color-orange: #fcaf4a;
  --color-blue: #549ef2;
  --color-very-dark-blue: #4c4e61;
  --color-grayish-blue: #a3a5ae;
  --color-very-light-gray: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.main-header {
  margin: 5rem auto 2rem;
  padding: 2rem 3rem;
  text-align: center;
}

.main-header .title {
  font-size: 2.4rem;
  line-height: 1.25;
  color: var(--color-grayish-blue);
  font-weight: 200;
  margin-bottom: 1.5rem;
}

.main-header .title strong {
  display: block;
  color: var(--color-very-dark-blue);
  font-weight: 600;
}

.main-header .description {
  max-width: 50rem;
  margin: 0 auto;
  font-size: 1.5rem;
  color: var(--color-grayish-blue);
  font-weight: 400;
}

.cards-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2.4rem 0 8rem;
}

.card-item {
  width: 33rem;
  padding: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 10px 0px #dee1ed;
}

.card-item.-cyan {
  border-top: 0.5rem solid var(--color-cyan);
}

.card-item.-red {
  border-top: 0.5rem solid var(--color-red);
}

.card-item.-orange {
  border-top: 0.5rem solid var(--color-orange);
}

.card-item.-blue {
  border-top: 0.5rem solid var(--color-blue);
}

.card-item .title {
  font-size: 2rem;
  color: var(--color-very-dark-blue);
}

.card-item .subtitle {
  font-size: 1.5rem;
  color: var(--color-grayish-blue);
}

.icon-img {
  width: 5rem;
  display: block;
  margin-top: 2.4rem;
  margin-right: 0;
  margin-left: auto;
}

@media screen and (min-width: 1332px) {

  main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-header {
    margin: 0;
  }

  .cards-list {
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 124.7rem;
    flex-wrap: wrap;
  }

  .card-item {
    width: 36rem;
    padding: 3rem;
  }

  .icon-img {
    margin-top: 4rem;
  }

  .card-item.-cyan {
    position: relative;
    top: 15rem;
  }

  .card-item.-orange {
    order: 1;
  }

  .card-item.-blue {
    position: relative;
    top: 15rem;
  }
}
